.App {
  text-align: center;
  width: 1000px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 800px) {
    width: 90%;
  }
  
}

@media screen and (min-width: 400px) {
  .App{width: 90%;}
}
