.game-cont{
    height: 100%;
    width: 100%;
}

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cell{
    height: 75px;
    width: 75px;
}

.on{
    border: 1px solid black;
    background-color: purple;
}

.off{
    border: 1px solid black;
    background-color: plum;
}